#input-el{
     width: 100%;
     border-color: green;
     border-width: thin;
     box-sizing: border-box;
}

#input-btn{
    margin-top: 7px;
    color:aliceblue;
    background-color: green;
    border:none;
    font-weight: bolder;
    padding: 5px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    min-width: 400px;
}

#list-el{
    color:black;
}

/*Targets only anchor tags that lives inside of list item elements*/
li a {
    color: #5f9341;
}

ul{
    margin-top: 10px;
    list-style: none; /*Removes the bullet points*/
    padding-left: 0;
}
li{
    margin-top: 5px;
}

#delete-btn{
    color: green;
    border-color: green;
    padding: 3px 5px;
    background-color: white;
}